body{
	background-color: #ecf0f1;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
}
h2{
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 2;
    text-align: center;
    font-weight: bold;
	color: #2c3e50;
}
p{
	margin-bottom: 2rem;
	line-height: 2;
	color: #7f8c8d;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
}
section{
	padding: 20px;
    margin-top: 20px;
	margin-bottom: 40px;
	background-color: #fff;
}

table.responsive-table {
  table-layout: fixed;
  /* this keeps your columns with fixed with exactly the right width */
  width: 100%;
  /* table must have width set for fixed layout to work as expected */
  
}

table.responsive-table th {
  background: rgba(180,180,180,0.75);
}

input,#exit{
    width: 100%;
	margin: 0 auto;
}

textarea{
	display: block;
    line-height: 150%;
}

label{
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 2;
    text-align: center;
    font-weight: bold;
}