body{
	background-color: #ecf0f1;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
}
h2{
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 2;
    text-align: center;
    font-weight: bold;
	color: #2c3e50;
}
p{
	margin-bottom: 2rem;
	line-height: 2;
	color: #7f8c8d;
}
.wrapper{
	width: 1400px;
	margin: 0 auto;
}
section{
	padding: 20px;
    margin-top: 20px;
	margin-bottom: 40px;
	background-color: #fff;
}

table.responsive-table {
  table-layout: fixed;
  /* this keeps your columns with fixed with exactly the right width */
  width: 100%;
  /* table must have width set for fixed layout to work as expected */
  height: 100%;
}

table.responsive-table th {
  background: #dcdcdc;
}

table.responsive-table td {
  line-height: 2em;
  background: #f5f5f5;
}

table.responsive-table tr > td,
table.responsive-table th {
  text-align: left;
}

#entrada{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#salida{
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 4em;
    margin-bottom: 2em;
}

#cerrar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 4em;
    margin-bottom: 2em;
}

#salida-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
}

.entrada-button{
    width: 80%;
    height: 100%;
	margin-top: 2em;
}

#salida-button{
    justify-content: center;
    align-items: center;
    height: 5em;
}

input{
    width: 100%;
	margin: 0 auto;
}

.green-border-focus .form-control:focus {
    border: 1px solid #ffe18f;
    box-shadow: 0 0 0 0.2rem rgba(255, 225, 143, .25);
}

label{
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 2;
    text-align: center;
	color: #0b2d48;
}

.cuadrar{
    padding-left: 8.5em;
    padding-right: 8.5em;
}

textarea.form-control {
  resize: none;
  height: 15em;
}


#nowork{
    text-align:center; 
    position: absolute;
    top: 40%;
  	left: 40%;
  
  	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
    font-weight: bold;
  	color: red;
}